$black: #000000;
$white: #ffffff;
$listTitleBlue: #337ab7;
$linkHoverColor: #337ab7;
$sysRed: #f35f43;
$grayText: #c5c5c5;
$textGray: #c5c5c5;
$placeholderGray: #999999;
$borderColor: #eeeeee;
$borderDarkColor: #e5e5e5;
$bgGray: #eeeeee;
$bgmoreView: 'https://public-call.oss-cn-shanghai.aliyuncs.com/images/authorization/more_view.png';
$bgrealname: 'https://public-call.oss-cn-shanghai.aliyuncs.com/images/authorization/real_name.png';
$defaultTextColor: #666;
$textColor3: #333;
$textColor9: #999;
$asideBgColor: #f8f8f8;
$itemBodyBgColor: #f0f2f5;
$itemBgColor: #f1f8ff;
$btnBgColor: #d8d8d8;
$btnDefaultColor: #9b9b9b;
$btnActiveColor: #d0021b;
$formBtnColor: #50e3c2;
$blueTextColor: #4a90e2;
$customerBgColor: #f8f8f8;
$badgeDarkColor: #979797;
$linkActiveColor: #f0f0f0;
